
.order{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    height:180px;
    border: 1px solid #c7d8df;
    border-radius: 10px;

    .ordertop{
        text-align: center;
        height:80%;
        padding-top:35px;
        margin-left: 5%;
        width: 90%;
        .orderimg{
            float: left;
            border-radius: 10px;
            width: 120px;
            height: 100px;
        }
        .ordertitle{
            display: inline-block;
        
            margin-left: auto;
            width: 100px;
        }
    }

    .orderbottom{
        font-size:14px;
        padding-top: 5px;
        margin-left: 10%;
        width: 80%;
        height:20%;
        display:flex; 
        justify-content:space-between;

        .bottombold{
            font-size: 16px;
            font-weight: 600;
        }
    }

}

.side{
    margin-top:30px;
    font-size:14px;
    margin-left: 10%;
    width: 80%;
    height:20%;
    display:flex; 
    justify-content:space-between;

    .bottombold{
        font-size: 16px;
        font-weight: 600;
    }
}

.totalmoney{
    font-size: 18px;
}

.demo-tabs > .el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
  }

// .demo-tabs{
//     .el-tabs__item:hover{
//         color: pink;
//     }
    
//     .el-tabs__item.is-active{
//         color: pink;
//     }
// }

.pictureMoney{
    width: 50%;
    height: auto;
}