
.service{
    position: absolute;
    top:75px;
    width: 100%;
    height: 600px;
    background-image: url("@/assets/image/service-bg.jpg");
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

.serviceTitle{
    display: flex;
    margin-left:50px;
    padding-top:130px;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    color: #111;
}

.serviceCarousel{
    .el-carousel__button{
        background-color: #0066CC;
        height: 5px;
    }
    .el-carousel__mask{
        background-color: transparent;
        
    }
    
    .el-carousel__item{
        z-index: 0;
        background-color: transparent;

        .serviceCard{
            margin-top:75px;
            width: 300px;
            z-index: 2;

            .content{
                padding: 35px 30px;
                background-color: var(--whiteColor);
                position: relative;
                z-index: 1;
                border-radius: 10px;
                
                .service-icon{
                    font-size: 55px;
                    color: #0066CC;
                    line-height: 1;
                    margin-bottom: 10px;
                }
                h3{
                    font-size:20px;
                    line-height:100px;
                }
                p{
                    font-family: "微软雅黑";
                    font-size: 14px;
                    width: 100%;
                }
                .el-button{
                    margin-top:30px;
                    padding: 10px 30px;
                    color: #fff;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    text-transform: capitalize;
                    background-color: #0066CC;
                    border: 0;
                    outline: 0;
                }

            }

        }

    }
}

.inner-banner {
    margin-top:20px;
    margin-bottom:20px;
    // background-image: url("@/assets/image/inner-banner4.jpg");
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    z-index: -1;
    .zz{
        width: 100%;
        height: 100%;
        background-color:rgba(0,4,46,0.6);
        
        h2{
            z-index: 1;
            padding-top:150px;
            font-size: 40px;
            color: #fff;
        }
    }
    
}

.serviceGrid{
    margin: 20px;
    text-align: center;
    .el-card{
        display: inline-block;
        width:80%;
        
        .container{
            display: flex;
            justify-content:space-between;
            height: 40px;
            .title{
                font-size:16px;
                margin: 0px;
                line-height:40px;
            }
        }
    }
}

.formLeft{
    width:80%;
}

.formRight{
    width:20%;
}

.serviceForm{
    width:80%;
}


